In [1]:
import numpy as np
import pandas as pd

### Dataset Introduction

This data set features license applications received during the last and current calendar years, including applications where a license was issued, denied, withdrawn, or remains pending. https://data.cityofnewyork.us/Business/License-Applications/ptev-4hud

As for this task, we would like to clean the data so that the relation between the covid-19 and the operation of businesses, we find all the applications that are approved since the COVID-19 pandemic outbreak, which is Feb 2020. Then we count the number of weekly applications and compares it with the severity of the pandemic.

Because the processing of the applications might take a long time, we count the applications based on the start date of the applications.

In [2]:
filepath = 'License_Applications.csv'
csv_data = pd.read_csv(filepath)

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (20,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
selected_cols = ['Business Name', 'License Type', 'Status', 'Start Date', 'City']
data = csv_data[selected_cols]

,Business Name,License Type,Status,Start Date,City
0,PEYKO TZENOV,Business,Issued,01/09/2017,BRONX
1,7TH AVE GOURMET INC.,Business,Issued,06/02/2014,NEW YORK
2,AMERICAN EAST PHARMACY INC.,Business,Issued,01/09/2019,NEW YORK
3,LUCAS ELECTRONICS INC,Business,Issued,12/31/2016,BROOKLYN
4,ELITE WIRELESS GROUP NY LLC,Business,Issued,12/31/2018,BROOKLYN
...,...,...,...,...,...
396176,ihome buyer group corp,Business,Pending,03/19/2021,BROOKLYN
396177,"Seaside DME of NY, Inc",Business,Pending,03/25/2021,BROOKLYN
396178,CHI SHING KOON,Individual,Issued,03/22/2021,BROOKLYN
396179,IOANNIS SAPOUNTZIS,Individual,Pending,03/24/2021,FLORAL PARK
396180,"RACENELLI, MICHAEL",Business,Pending,03/23/2021,STATEN ISLAND

In [4]:
date = '2020/01/01'
def dateAfter(x):
    if (len(x) == 10):
        return (x[6:10]+'/'+x[0:5]) >= date
    else:
        return False
data = data[data['Start Date'].map(dateAfter)]

In [5]:
display(data)

,Business Name,License Type,Status,Start Date,City
52,SMARTSITTING LLC,Business,Issued,04/13/2020,NEW YORK
55,ABDULLAH ODUNCU,Individual,Pending,04/10/2020,CLIFTON
279,SHELBA GORHAM BELL,Individual,Denied,03/10/2020,ROCKWALL
298,Mariya Dimov,Individual,Issued,04/07/2020,BROOKLYN
313,KAREN A LOERCH,Individual,Denied,03/11/2020,BETHLEHEM
...,...,...,...,...,...
396176,ihome buyer group corp,Business,Pending,03/19/2021,BROOKLYN
396177,"Seaside DME of NY, Inc",Business,Pending,03/25/2021,BROOKLYN
396178,CHI SHING KOON,Individual,Issued,03/22/2021,BROOKLYN
396179,IOANNIS SAPOUNTZIS,Individual,Pending,03/24/2021,FLORAL PARK
396180,"RACENELLI, MICHAEL",Business,Pending,03/23/2021,STATEN ISLAND